@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=League+Gothic&family=Teko:wght@300;400;500;700&display=swap');

/* Poke Intro */
.pokedex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background:rgb(17, 43, 97);
    min-height: 100vh;
    margin-top: 0;
}

.poke-content {	
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.pokecoach-men {
    display: flex;
    justify-content: flex-end;
}

.pokecoach-men img {
    width: 35%;
}

.pokecoach-woman img {
    width: 35%;
    /* margin-left: 50%; */
}

.pokecoach {
    width: 30%
}

.pokedex-intro {
    text-align: center;
    width: 30%;
}

.pokedex-title {
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    font-size: 90px;
    color: rgb(199, 202, 30);
    -webkit-text-stroke: 4px #163f8b;
}

.poke-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-input {
    border: none;
    height: 25px;
    width: 60%;
    border-radius: 5px 0 0 5px;
}

input {
    color: #a81313;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding-left: 5px;
}

input::placeholder {
    color: #a813138e;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding-left: 5px;
}

.poke-btn {
    border: none;
    height: 27px;
    padding: 0 5px ;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    background:#ad2828;
    color: #fff;
    position: relative;
    font-family: 'Kdam Thmor Pro', sans-serif;
    cursor: pointer;
}

.poke-btn:hover {	
    background:#e23737;
}
/* Poke - Home Page */

.poke-user { 
    font-weight: 700;
    font-family: 'Teko', sans-serif;
    margin-left: 40px;
}

.input-pokeScreen {
    margin-left: 40px;
}

.input-pokeScreen input {
    border:1px solid #a81313;
    border-radius: 5px;
    height: 30px;
    width: 30%;
}

.poke-user span{
    color: rgb(173, 40, 40);
}

.bar-header {
    margin-bottom: 200px;
}

.bar-red {
    position: absolute;
    width: 100%;
    height: 123.18px;
    left: 0px;
    top: 0px;
    background: #DD1A1A;
}

.bar-black {
    position: absolute;
    width: 100%;
    height: 49.7px;
    left: 0px;
    top: 111.3px;
    background: #0C0C0C;
}

.poke-img {
    position: absolute;
    width: 431px;
    height: 76px;
    left: 113px;
    top: 47px;
}

.circle-a {
    box-sizing: border-box;
    position: absolute;
    width: 117px;
    height: 117px;
    left: 1138px;
    top: 78px;
    background: #FFFFFF;
    border: 12px solid #000000;
    border-radius: 50%;
}

.circle-b {
    box-sizing: border-box;
    position: absolute;
    width: 63px;
    height: 63px;
    left: 1165px;
    top: 105px;
    background: #212121;
    border: 12px solid #000000;
    border-radius: 50%;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.card-pokemon {
    background: #9ca896;
    border-radius: 10px;
    width: 21%;
}

.card-poke-header {
   text-align: center;
}

.card-img {
    text-align: center;
}

.card-content {
    text-align: center;
    padding-right: 40px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.card-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.card-type p {
    padding: 3px 5px;
}

.type-a {
    background: #0C0C0C;
    color: #fff;
    border-radius: 3px;
}

.type-b {
    background: #552f92;
    color: #fff;
    border-radius: 3px;
}

.card-poke-header img{
    width: 50%;
    margin: 0 auto;
}

.card-poke-header h3 {
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background: #c4c0c0;
    border-radius: 0px 0px 10px 10px;
    padding: 5px 6px;
}

.stat p {
    color: rgb(190, 102, 19);
}

.stat span {	
    font-weight: 700;
}

/* Pagination */

.pagination-container {
    display: flex;
    gap: 30px;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    font-family: 'Teko', sans-serif;
    margin-top: 20px;
}

.pagination-number-container{
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 0;
}

.pagination-prev-next{
    font-size: 30px;
    color: #fcfcfc;
    cursor: pointer;
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 50, 104);
    border-radius: 8px;
}
  
.page-number {
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #163f8b;
}

.page-active{
    background-color: rgb(206, 25, 25);
}

  /* PokeInfoScreen */

.pokeinfo {
    background:rgb(199, 236, 235);
    /* padding: 20px 0; */
    padding-top: -10px;
    padding-bottom: 50px
}

.pokemon-img {
    width: 40%;
    position: relative;
    /* top: 35px;
    left: 5%; */
}

.pokemon-img img {
    width: 60%;
}
 
.pokeinfo-header {
    background: #21a586;
    border: 4px solid #ffffff;
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Teko', sans-serif;
    margin-top: -90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.pokeinfo-header h2 {
    border: 1px solid #ccc;
    max-width: 10%;
    margin: 0 auto;
    background:rgb(221, 221, 221);
    border-radius: 3px;
    color:rgb(21, 50, 104)
}

.pokeinfo-header img {
    width: 70%;
}

.pokeinfo-name {
    text-transform: uppercase;
    font-size: 30px;
    color: #dddddd;
}

.pokeinfo-body {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 60%;
    margin: 0 50px;
    margin-top: 30px;
    text-align: center;
    font-family: 'Teko', sans-serif;
}

.pokeinfo-body h3 {	
    font-size: 30px;
    color: #212121;	
}

.poke-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    text-align: start;
    font-size: 30px;
}

.hp {
    color: rgb(46, 117, 18);
}

.attack {
    color: rgb(201, 47, 47);
}

.defense {
    color: rgb(50, 85, 131);
}

.speed {
    color: rgb(128, 43, 136);
}

.sp-attack {
    color: rgb(187, 187, 5)
}

.sp-defense {
    color: rgb(206, 158, 25);
}

.stat p {
    color: rgb(151, 151, 151);
}

.pokeinfo-type {
    /* background:rgb(17, 43, 97); */
    border-radius: 10px;
    margin: 0 30px;
    padding: 4px 10px;
    color: white;
    font-size: 25px;
}

/* Movements */

.poke-movements {
    background:rgb(255, 255, 255);
    width: 90%;
    border-radius: 10px;
    margin: 10px auto;
    border: 4px solid #ffffff;
}

.poke-movements h3 {
    font-size: 30px;
    color: #536cc0;	
    font-family: 'Teko', sans-serif;
    text-align: center;
}

.poke-movements-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movements p{
    background: #dcdcdd;
    padding: 5px 3px;
    border-radius: 20px;
    width: 80%;
    color:rgb(46, 44, 44);
    margin: 5px 15px;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

/* ================ Color Pokemon Type ===================== */

.bg-normal {
    background: #735159;
}

.bg-fighting {
    background: #973f26;
}

.bg-flying {
    background: #48677b;
}

.bg-poison {
    background: #5b2d86;
}

.bg-ground {
    background: #765833;
}

.bg-rock {
    background: #361c15;
}

.bg-bug {
    background: #597a33;
}

.bg-ghost {
    background: #222452;
}

.bg-steel {
    background: #5d736c;
}

.bg-fire {
    background: #bf3434;
}

.bg-water {
    background: #70b7fa;
}

.bg-grass {
    background: #21a586;
}

.bg-electric {
    background: #fbbd08;
}

.bg-psychic {
    background: #b98544;
}

.bg-ice {
    background: #86d2f4;
}

.bg-dragon {
    background: #448a94;
}

.bg-dark {
    background: #191c1b;
}

.bg-fairy {
    background: #8f2c4e;
}