@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=League+Gothic&family=Teko:wght@300;400;500;700&display=swap');


/* Poke Intro */
.pokedex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokecoach-men {
    display: flex;
    justify-content: flex-end;
}

.pokecoach-men img {
    width: 35%;
}

.pokecoach-woman img {
    width: 35%;
    /* margin-left: 50%; */
}

.pokecoach {
    width: 30%
}

.pokedex-intro {
    text-align: center;
    width: 30%;
}

.pokedex-title {
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    font-size: 90px;
    color: rgb(199, 202, 30);
    -webkit-text-stroke: 4px #163f8b;
}

/* Poke - Home Page */

.poke-user { 
    font-weight: 700;
    font-family: 'Teko', sans-serif;
}

.poke-user span{
    color: rgb(173, 40, 40);
}

.bar-header {
    margin-bottom: 200px;
}

.bar-red {
    position: absolute;
    width: 100%;
    height: 123.18px;
    left: 0px;
    top: 0px;

    background: #DD1A1A;
}

.bar-black {
    position: absolute;
    width: 100%;
    height: 49.7px;
    left: 0px;
    top: 111.3px;
    background: #0C0C0C;
}

.poke-img {
    position: absolute;
    width: 431px;
    height: 76px;
    left: 113px;
    top: 47px;
}

.circle-a {
    box-sizing: border-box;
    position: absolute;
    width: 117px;
    height: 117px;
    left: 1138px;
    top: 78px;
    background: #FFFFFF;
    border: 12px solid #000000;
    border-radius: 50%;
}

.circle-b {
    box-sizing: border-box;
    position: absolute;
    width: 63px;
    height: 63px;
    left: 1165px;
    top: 105px;
    background: #212121;
    border: 12px solid #000000;
    border-radius: 50%;
}